/**
 * /* GLOBAL
 *
 * @format
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
.heading {
  text-align: center;
  margin-bottom: 3rem;
}
.heading h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff4f81;
  letter-spacing: 0.5px;
}
.heading p {
  text-transform: capitalize;
  font-size: 1.0625rem;
  color: black;
  letter-spacing: 0.5px;
}
.heading p::after {
  content: "";
  width: 70px;
  height: 2px;
  display: block;
  background-color: black;
  margin: 20px auto;
}
.section {
  padding: 5rem 0;
}
.heading--white p {
  color: white;
}
/* HEADER */
.header__top {
  background: #ff4f81;
  font-size: 0.875rem;
}
.header__top a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}

.header__left a:hover {
  color: #282828 !important;
}

.header__right a {
  width: 30px;
  height: 30px;
  background: #333;
  border: 1px solid #333;
  font-size: 0.9375rem;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin-left: 0.25rem;
}
.header__right a:hover {
  background: #ff4f81;
  border-color: #fff;
}
.navInstruction a {
  color: #282828;
}
.navInstruction .navbar-brand p:first-child {
  font-size: 2.25rem;
  font-weight: 700;
}
.navInstruction .navbar-brand p:last-child {
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #ff4f81;
  text-align: center;
}
.navInstruction .navbar-brand p:first-child i {
  transform: skewX(-10deg);
}

#navbarInstruction .nav-item {
  margin: 0 15px;
}
#navbarInstruction .nav-link {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 3px;
  transition: all 0.5s;
}
#navbarInstruction .nav-item:hover .nav-link {
  color: #ff4f81;
}

#navbarInstruction .nav-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ff4f81;
  display: block;
  transition: all 0.5s;
}
#navbarInstruction .nav-item:hover::after {
  width: 100%;
}
#navbarInstruction .nav-item.active a {
  color: #ff4f81;
}
#navbarInstruction .nav-item.active::after {
  width: 100%;
}
#navbarInstruction .dropdown-menu {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
}
#navbarInstruction .dropdown-item {
  transition: all 0.5s;
  color: #fff;
}
#navbarInstruction .dropdown-item:focus,
#navbarInstruction .dropdown-item:hover {
  background-color: transparent;
  color: #ff4f81;
}

.navInstruction .navbar-toggler {
  color: #ff4f81;
  background: #000;
  border-radius: 0;
}
.navInstruction .navbar-toggler:focus {
  outline: none;
}

/* CAROUSEL */
#carouselCyber .carousel-caption h1 {
  font-size: 3.25rem;
}
#carouselCyber .carousel-caption {
  width: 70%;
  margin: 0px auto;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#carouselCyber .carousel-caption p {
  letter-spacing: 4px;
  line-height: 1.8em;

  margin-bottom: 25px;
}
#carouselCyber .carousel-caption button {
  padding: 11px 20px;
  color: #fff;
  border: 1px solid #fff;
  background: none;
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: 300;
  transition: all 0.5s;
}

#carouselCyber .carousel-caption button:hover {
  background: #ff4f81;
  border-color: #ff4f81;
}
#carouselCyber .carousel-control-next,#carouselCyber .carousel-control-prev{
  z-index: 11;
}

/* WELCOME */
.welcome__content > p {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  font-size: 0.9375rem;
  color: #999;
  letter-spacing: 1px;
  padding: 1rem 0 5rem;
  line-height: 1.8em;
}

.welcome__item i {
  font-size: 2rem;
}
.welcome__item h3 {
  color: #ff4f81;
  font-size: 1.8rem;
  margin: 1rem 0;
  font-weight: bold;
}
.welcome__item h4 {
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0 0 0.2rem;
}
.welcome__item p {
  color: #999;
  font-size: 0.875rem;
  margin: 10px 0 0;
  line-height: 1.8em;
  letter-spacing: 1px;
}
.welcome__col {
  padding: 3rem;
}

/* OUR STARTS */

.ourStarts {
  background-image: url(../img/banner2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.ourStats__content {
  text-align: center;
  color: #fff;
}
.ourStats__item i {
  font-size: 2.5rem;
  color: #fff;
}
.ourStats__item h3 {
  font-size: 1.3rem;
  color: #ff4f81;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 30px 0 20px;
}
.ourStats__item p {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 2px;
}

/* OFFER */
.offer__col {
  padding: 15px;
}
.offer__item {
  text-align: center;
  padding: 25px 40px;
  box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
  transition: all 0.5s;
  cursor: pointer;
}
.offer__item i {
  font-size: 40px;
  color: #ff4f81;
}
.offer__item h3 {
  font-size: 20px;
  color: #000;
  margin: 25px 0 20px;
}
.offer__item p {
  font-size: 14px;
  color: #6b6b6b6b;
  letter-spacing: 0.5px;
}
.offer__item:hover {
  background: #12ccc3;
}

/* FEEDBACK */
.feedback {
  background-image: url(../img/banner3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.feedback__content {
  box-shadow: 0px 1px 7px #8e8e8e;
  background-color: rgba(0, 0, 0, 0.47);
  padding: 1rem;
}
.feedback__content .item {
  color: #fff;
  padding: 1rem;
}
.feadback__top {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.47);
  position: relative;
}
.feadback__top::after {
  content: "";
  border-top: 9px solid rgba(0, 0, 0, 0.47);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: 100%;
  left: 28%;
}
.feedback__content .feedback__bottom img {
  width: 28%;
  display: inline-block;
}
.feedback__bottom {
  display: flex;
  justify-content: center;
  width: 55%;
  margin: 2rem auto 0;
}
.feedback__name {
  margin-left: 5px;
}
.feedback__name p {
  margin: 0;
  color: #ff4f81;
}
.feedback__name p:first-child {
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}
.feedback__content .owl-theme .owl-dots .owl-dot span {
  background-color: #ff4f81;
  opacity: 0.5;
}
.feedback__content .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #869791;
  opacity: 1;
}
.feedback__content .owl-theme .owl-dots .owl-dot {
  outline: none;
}

/* NEWS */
.new__content img {
  border: 2px solid #dedede;
}
.new__content h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
.new__content a {
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  transition: all 0.5s;
}
.new__content a:hover {
  color: #ff4f81;
}

.new__content h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #ff4f81;
  letter-spacing: 1px;
  margin: 1rem 0;
}
.new__content p {
  color: #999999;
  font-size: 0.9rem;
  line-height: 1.8rem;
  margin: 1rem 0;
}
.new__content .row:first-child {
  margin-bottom: 5rem;
}

/* MODAL */
#cyberMoadal .modal-title {
  font-size: 29px;
  color: #ff4f81;
  font-weight: bold;
}
.modal-body p {
  font-size: 14px;
  color: #777;
  line-height: 1.8em;
  padding: 20px 0;
}
#cyberMoadal .modal-dialog {
  max-width: 600px;
}
/* FOOTER */
footer {
  background-color: #141415;
}
.footer__top h3 {
  font-size: 24px;
  font-weight: bold;
  color: #ff4f81;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}
.footer__top p {
  color: #8b8b96;
  line-height: 2em;
  font-size: 15px;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}
.footer__links i {
  color: #ff4f81;
  margin-right: 1rem;
}
.footer__links a,
.footer__contact a {
  color: #8b8b96;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 1px;
  transition: all 0.5s;
}
.footer__links,
.footer__contact {
  margin-bottom: 1rem;
}
.footer__links a:hover,
.footer__contact a:hover {
  color: #fff;
}
.footer__contact i {
  width: 32px;
  height: 32px;
  border: 1px solid #4b4b50;
  color: #fff;
  text-align: center;
  line-height: 32px;
  margin-right: 1rem;
}

.footer__form label {
  color: #ff4f81;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer__form input {
  padding: 14px;
  border-radius: 0;
  border: none;
  color: #888;
  letter-spacing: 1px;
  height: auto;
}
.footer__form button {
  background-color: #ff4f81;
  padding: 12px 35px;
  letter-spacing: 1px;
  border-radius: 0;
  color: #fff;
  outline: none;
  transition: all 0.5s;
}
.footer__form button:hover {
  background-color: #ec1955;
  color: #fff;
}
.footer__form {
  margin-top: 3rem;
}
.footer__bottom {
  background-color: #0f0f10;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  padding: 1rem;
}
.footer__bottom a {
  color: #ff4f81;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s;
}
.footer__bottom a:hover {
  color: #fff;
}

/* ==========================RESPONSIVE  */
/* HEADER */
@media screen and (max-width:1199.98px) {
    #cyberCarousel .carousel-caption{
        top:50%;
    }
    #cyberCarousel .carousel-caption h1{
        font-size: 4vw;
    }
    #cyberCarousel .carousel-caption p{
        font-size: 1.6vw;
        margin-bottom: 0.5em;
    }
    #cyberCarousel .carousel-caption button{
      font-size: 1.5vw;
      padding: 0.8em 1em;
    }
    
}
@media screen and (max-width: 991.98px) {
  .navInstruction .navbar-brand p:first-child {
    /* 3% so với width của trình duyệt */
    font-size: 3vw;
  }
  .navInstruction .navbar-brand p:last-child {
    font-size: 1.5vw;
  }
}
@media screen and (max-width:767.98px) {
    #navbarInstruction .navbar-nav{
        background-color: #eee;
        text-align: center;
    }
    #navbarInstruction .dropdown-menu{
        background-color: #e0e1e2;
        border-color: #e0e1e2;
        text-align: center;
    }
    #navbarInstruction .dropdown-item{
        color: #000;
    }
}
@media screen and (max-width: 575.98px) {
  .header__left a {
    display: block;
  }
}
@media screen and (max-width: 320px) {
  .header__right {
    width: 35%;
    text-align: center;
  }
  .header__right a {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 415px) {
  #carouselCyber{
    height: 250px;
  }
  #carouselCyber .carousel-inner, #carouselCyber .carousel-item,  #carouselCyber .carousel-item img{
    height: 100%;
  } 
  #carouselCyber .carousel-item img{
    object-fit: cover;
  }

  
}
/* MENU */

@media screen and (min-width: 768px) and (max-width: 992px) {
  #navbarInstruction .nav-item {
    margin: 0;
    padding: 0 3px;
  }
  #navbarInstruction .nav-link {
    font-size: 12px;
    padding: 2px 0;
  }
}
